.courses
	background url('../images/gplaypattern.png') repeat center
	&__wrapper
		padding 74px 130px 57px
	&__title
		margin-bottom 18px
	&__text
		font-weight 300
		text-align center
		margin-bottom 40px
	&__list
		display flex
		flex-wrap wrap
	&__item
		max-width 300px
		width 100%
		background-color #ffffff
		border-radius 2px
		box-shadow 0 1px 5px 0 rgba(0, 0, 0, .8)
		margin-right 20px
		align-self flex-start
		margin-bottom 23px
		position relative
		&:hover
			.courses__link:after
				content ''
			.courses__info-link
				color #8cc34b
		&:nth-child(3n)
			margin-right 0
		&.active
			.courses__info-link
				color #727272
			.courses__checkbox-wrapper
				transform background-color 1s
				background-color #e5efd7
			.courses__checkbox-mark
				background-color #8cc34b
				border none
				cursor default
				&:after
					content ''
				&:hover
					background-color #8cc34b
			.courses__checkbox-text
				color #8cc34b
	&__link
		display block
		position relative
		&:after
			content none
			position absolute
			left 0
			right 0
			bottom 0
			width 100%
			height 5px
			background-color #8cc34b
	&__item-img
		display block
	&__item-info
		padding 14px 20px
	&__info-link
		display block
		margin-bottom 10px
		color #212121
	&__item-text
		margin-bottom 10px
		font-weight 300
	&__item-time
		margin-bottom 4px
		font-family 'FontAwesome', sans-serif
		color #b6b6b6
	&__checkbox-wrapper
		display flex
		background-color #f6f7f2
		padding 14px 20px
	&__checkbox
		display inline-block
		position relative
		vertical-align top
		margin-right 18px
		input[type="checkbox"]
			opacity 0
			height 20px
			width 20px
			position absolute
			cursor pointer
			border-radius 2px
			& + label span
				color #ffffff
				font-size 18px
				text-align center
				border solid 2px #b6b6b6
				background-color #ffffff
				height 20px
				width 20px
				vertical-align top
				padding 0
				display inline-block
				cursor pointer
				border-radius 2px
				&:after
					content none
					color #ffffff
					position absolute
					right 5px
					top 5px
					width 8px
					height 4px
					border-bottom solid 2px #fff
					border-left solid 2px #fff
					-webkit-transform rotate(-45deg)
					transform rotate(-45deg)
				&:hover
					background-color #ffffff
			&:checked + label span
				background-color #8cc34b
				border none
				&:after
					content ''
	&__checkbox-text
		font-size 18px
		line-height 1.334
		display inline-block
	&__succes
		display none
		text-align center
		color #8cc34b
		font-size 42px
		font-weight 500
		height 100%
	&__succes-text
		position relative
		padding-left 40px
		&:after
			content ''
			color #8cc34b
			position absolute
			left 0
			top 8px
			width 20px
			height 12px
			border-bottom solid 5px #8cc34b
			border-left solid 5px #8cc34b
			-webkit-transform rotate(-45deg)
			transform rotate(-45deg)
