.courses
	padding-bottom 80px
	padding-top 78px
	&__title
		margin-bottom 23px
	&__text
		font-weight 300
		text-align center
		margin-bottom 45px
	&__list
		display flex
		flex-wrap wrap
	&__item
		max-width 300px
		width 100%
