mixin header()
	+b.HEADER.header
		+e.content.container
			+b.header__person
				+b.header__image
				+b.header__info
					+b.H2.header__name Игошева Анастасия Михайловна
					+b.A.header__link(href='mailto: just_anasteziya@mail.ru') just_anasteziya@mail.ru
			+b.UL.header__social
				+b.LI.header__social-item
					+b.A.header__social-link(href="https://github.com/igosheva", target="_blank")
						+e.IMG(src='assets/images/git.svg', alt='git')
				+b.LI.header__social-item
					+b.A.header__social-link(href="skype:anasteziya525", target="_blank")
						+e.IMG(src='assets/images/sk.svg', alt='skype')
				+b.LI.header__social-item
					+b.A.header__social-link(href="https://vk.com", target="_blank")
						+e.IMG(src='assets/images/vk.svg', alt='vk')
