/*---Basic styles for header of main-page----*/
.header
	background-color #8cc34b
	box-shadow 0 5px 5px 0 rgba(0, 0, 0, .2)
	position relative
	width 100%
	color white
	&__content
		padding 15px 25px
		display flex
		justify-content space-between
		align-items center
	&__person
		display flex
		align-items center
		flex-grow 1
	&__image
		max-width 60px
		height 60px
		background url('../images/face.jpg') no-repeat center
		background-size cover
		width 100%
		border-radius 50%
		margin-right 22px
	&__name
		font-weight 500
		padding-top 4px
	&__link
		font-size 14px
		line-height 2
		color rgba(255, 255, 255, .5)
	&__social
		margin-right 4px
	&__social-item
		display inline-block
		margin-left 16px
		vertical-align middle
		&:first-child
			margin-left 0
		&:hover, &:focus
			.header__social-img
				opacity 1
	&__social-link
		display block
	&__social-img
		opacity .7
