/*---Basic styles for footer----*/
.footer
	width 100%
	background-color #212121
	box-shadow 0 6px 6px 0 rgba(0, 0, 0, .2)
	color rgba(255, 255, 255, .5)
	text-align center
	&__text
		width 42.45%
		margin 0 auto
		padding 15px 0
