mixin footer()
	+b.FOOTER.footer
		+b.container
			+b.P.footer__text
				|А это футер, с текстом внутри. Он должен быть прибит к низу окна браузера,
				|не зависимо от количества контента на странице и размера окна.
